{% extends "base.html" %}

{% block page_title %}
 Welcome!
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12">
			<iframe width="100%" height="720" src="https://www.youtube-nocookie.com/embed/8doJfebp_Hk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>

	<div class="row m-t-1">
		<div class="col-xs-12 col-md-6">
			<div class="card">
				<div class="card-block">
					<h4 class="card-title"><a href="{% url "leaderboard" %}">LEADERBOARDS</a></h4>

					<div class="card-text">
						Wow, {{ players|length }} players. Things are heating up.
					</div>
				</div>
			</div>
		</div>

		<div class="col-xs-12 col-md-6">
			<div class="card">
				<div class="card-block">
					<h4 class="card-title"><a href="{% url "changelog" %}">CHANGELOG</a></h4>

					<div class="card-text">
						Classic, sleek, modern design, fresh from 2005.
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
